<html>

{{> header}}
{{> nav}}


<body>
<h1></h1>
<div class="container">
    <form action="/posts/add-post" method="POST">
     <div class="form-group row">
       <label for="colFormLabel" class="col-sm-2 col-form-label" >Post Title</label>
       <div class="col-sm-10">
         <input type="text" class="form-control" id="colFormLabel" name="title" placeholder="Post Title">
       </div>
     </div>
     <div class="form-group row">
       <label for="colFormLabel" class="col-sm-2 col-form-label" >Subject</label>
       <div class="col-sm-10">
         <input type="text" class="form-control" id="colFormLabel" name="subject" placeholder="Post Subject">
       </div>
     </div>
    <div class="form-group">
        <label for="description">Content</label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
    </div>
     <div class="form-group row">
       <label for="colFormLabel" class="col-sm-2 col-form-label" >Author</label>
       <div class="col-sm-10">
         <input type="text" class="form-control" id="colFormLabel" name="author" placeholder="Author">
       </div>
     </div>

     <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>

</div>

    {{#blogPosts}}
        <div class="card text-center">
            <div class="card-header">
                {{subject}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{body}}</p>
                <form action='/posts/delete-post' method='POST'>
                    <input type="hidden" name="blogPost" value="{{blogid}}">
                    <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" type="delete">Delete</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                {{author}} | {{date}}
            </div>
        </div>
    {{/blogPosts}}



</body>


{{> footer}}
</html>